.rate-dialog {
  width: 60vw;
  height:60vh;
  max-height: 1000px;
}

.rate-dialog iframe {
  position: absolute; /* We need this to make height actually be 100% */
  width: 90%;
  height: 90%;
  border: 0;
}