.street-example {
  padding-top: 0.5em;
  color: black;
  user-select: none;
  pointer-events: auto;
  font-size: 0.9rem; /* Match segment labels */
  
  a {
    color: inherit;
    text-decoration: underline;
  }
}
